.navbar {
    font-family: 'Sono', sans-serif;
    font-size: 1.3rem;
    display: flex;
    border-bottom: 1px solid;
    padding: 1rem 1rem;
    align-items: center;
    background-color: rgb(159, 240, 240);
    width: 100vw;
    justify-content: space-between;
    position: relative;

    .navToggle {
        padding: 4px;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1.3rem;
        display: flex;
        align-items: center;

        &:hover {
            border: 2px dashed;
            padding: 2px;
        }

        display: none;

        @media screen and (max-width:950px) {
          display: flex;
        }
    }

    .left {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding-left: 2rem;

        @media screen and (max-width:950px) {
            flex-direction: column;
            position: absolute;
            top: 4.5rem;
            background-color: white;
            padding: 1rem;
            border: 2px dashed;
            width: fit-content;
        }

        span {
            padding: 0.3rem;
            width: 10rem;
            transition: 0.5s all ease;
            cursor: pointer;
            text-underline-offset: 0.5rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .right {
        // width: 20%;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        padding: 0 1rem;
        align-items: center;


        .user {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;

            span {
                font-size: 1rem;
            }

            img {
                width: 2rem;
                height: 2rem;
            }
        }

        span {
            button {
                background-color: black;
                color: white;
                padding: 0.5rem 0.5rem;
                cursor: pointer;
                font-size: 1rem;
                outline: none;
                border: transparent;
            }
        }
    }
}